@use 'variables'
@use 'mixins'

*
  box-sizing: border-box
  margin: 0px
  padding: 0px
  font-size: 16px  

body 
  width: 100vw
  height: 100vh
  background: variables.$color-bg-body    
  // border: 1px solid red
  // @include mixins.marked()
  

.form
  width: 98%
  height: 90vh
  margin: 20px auto
  padding: variables.$default-padding
  // @include mixins.marked()
  

  &__search
    height: 25%
    padding: variables.$default-padding
    border: none

    &__title
      font-size: 1.5rem
      text-align: center
      text-transform: uppercase
      word-spacing: 1rm
      letter-spacing: 10px
      margin-top: 20px
      color: variables.$form-title-font-color

    &__input--text
      display: block
      font-size: variables.$font-size-input
      text-align: center
      margin: 10px auto
      height: 40px
      width: 100%  
      padding: variables.$default-padding
      @include mixins.rounded-borders()

      &::placeholder
        text-align: center
        font-size: variables.$font-size-input
        color: variables.$placeholder-search-color
      ¨
      &:invalid
        color: coral

      &:valid
        border: 1px solid rgba(39, 245, 161, 1)
        color: blue
               

    &__btn
      display: flex
      justify-content: space-between
      padding: 0 5px 
      // @include mixins.marked()
    
      &--submit , &--clear
        display: block
        font-size: variables.$font-size-input
        font-weight: bold
        // margin: 0 auto
        height: 40px
        width: 100px
        @include mixins.rounded-borders
        border: 1px solid rgba(39, 245, 161, 0.4)
       
        &:active
          border: 1px solid rgba(39, 245, 161, 1)
          color: rgba(16, 245, 149, 0.79)
        
        

  
  &__result
    display: none
    height: 68%
    flex-flow: column wrap
    margin-top: 50px 
    padding: calc(variables.$default-padding * 1.5)
    border: 1px solid rgba(39, 245, 161, 0.4)
    overflow: auto

    &__lbl
      margin: 5px 0 3px 0
      display: block
      text-transform: uppercase
      color: variables.$label-result-color
      font-weight: bold
      text-align: center

    &__value
      display: block
      font-size: variables.$font-size-input
      color: variables.$result-value-color
      text-align: center
      margin: auto
      width: 100%
      @include mixins.rounded-borders()
      

.is-visible
  display: block



footer
  position: relative
  right: 0
  left: 0
  bottom: 0
  text-align: center

  a
    text-decoration: none
    letter-spacing: 1px
    font-weight: bold