$color-bg-search-result: #A1FFCE
$color-bg-body: linear-gradient(to right, #4ecdc4, #556270)
$font-size-input: 18px
$placeholder-search-color: #CCC
$default-padding: 10px
$label-result-color: #000036
$result-value-color: #00008b

 
